# Homework 1

## Task 1:

In [281]:
employees = ["Willena Shupe", "Jolanda Agin", "Leta Stacker",
"Leonora Oliverio", "Birgit Stoudt", "Aron Valtierra", "Vi Buschman"]

salaries2021 = ["$102,633", "$82,012", "$129,860",
"$48,949", "$55,208", "$95,600", "$40,030"]

salaries2022 = ["$105,711.99", "$86,932.72", "$133,755.80",
"$54,822.88", "$59,624.64", "$100,380.00", "$43,632.70"]

total2021 = 0.0
total2022 = 0.0

# start of output

print("%-20s%-15s%-15s%-15s" % 
      ("Employee", "2021 Salary", "2022 Salary", "% Increase"))
print("------------------------------------------------------------")
for i in range(len(employees)):
    emp_sal_2021 = float(salaries2021[i].replace("$", "").replace(",", ""))
    emp_sal_2022 = float(salaries2022[i].replace("$", "").replace(",", ""))
    total2021 += emp_sal_2021
    total2022 += emp_sal_2022
    increase = emp_sal_2022 - emp_sal_2021
    increase_str = ""
    if (emp_sal_2021 < emp_sal_2022):
        increase = (emp_sal_2022 * 100)/emp_sal_2021
        increase -= 100
        increase_str = increase
    else:
        increase_str = "x.x"
    
    print("%-18s %12s%15.7s%13s" % (employees[i],
                                    "{:,.0f}".format(emp_sal_2021),
                                    "{:,.0f}".format(emp_sal_2022),
                                    "{:,.1f}".format(increase_str)) + "%")
    
print("------------------------------------------------------------")
print("%-18s%13s%15s" % ("Total", "{:,.0f}".format(total2021),
                         "{:,.0f}".format(total2022)))

Employee            2021 Salary    2022 Salary    % Increase
------------------------------------------------------------
Willena Shupe           102,633        105,712          3.0%
Jolanda Agin             82,012         86,933          6.0%
Leta Stacker            129,860        133,756          3.0%
Leonora Oliverio         48,949         54,823         12.0%
Birgit Stoudt            55,208         59,625          8.0%
Aron Valtierra           95,600        100,380          5.0%
Vi Buschman              40,030         43,633          9.0%
------------------------------------------------------------
Total                   554,292        584,861

## Task 2:

In [282]:
names = ["Willena Shupe", "Jolanda Agin", "Leta Stacker",
"Leonora Oliverio", "Birgit Stoudt", "Aron Valtierra", "Vi Buschman",
"Janee Barnwell", "Agnus Flower", "Byron Mccartney",
"Victoria Crabill", "Amy Swinton", "Arla Mohamed", "Bryon Vester",
"Lue Benway", "Mozelle Macauley", "Suzann Galindo",
"Delicia Barriere", "Marcella Uyehara", "Jane Curley"]

years = [2020, 2019, 2016, 2019, 2013, 2014, 2014, 2018, 2016, 2012,
2014, 2015, 2018, 2013, 2019, 2017, 2019, 2020, 2015, 2013]

print("%-30s%-20s" % ("Student Name", "Email Address"))

for i in range (len(names)):
    email = ((names[i][0] + names[i][0:names[i].index(" ")]).lower()
            + str(years[i]) + "@my.fit.edu")
    print("%-30s%-30s" % (names[i], email))

Student Name                  Email Address
Willena Shupe                 wwillena2020@my.fit.edu
Jolanda Agin                  jjolanda2019@my.fit.edu
Leta Stacker                  lleta2016@my.fit.edu
Leonora Oliverio              lleonora2019@my.fit.edu
Birgit Stoudt                 bbirgit2013@my.fit.edu
Aron Valtierra                aaron2014@my.fit.edu
Vi Buschman                   vvi2014@my.fit.edu
Janee Barnwell                jjanee2018@my.fit.edu
Agnus Flower                  aagnus2016@my.fit.edu
Byron Mccartney               bbyron2012@my.fit.edu
Victoria Crabill              vvictoria2014@my.fit.edu
Amy Swinton                   aamy2015@my.fit.edu
Arla Mohamed                  aarla2018@my.fit.edu
Bryon Vester                  bbryon2013@my.fit.edu
Lue Benway                    llue2019@my.fit.edu
Mozelle Macauley              mmozelle2017@my.fit.edu
Suzann Galindo                ssuzann2019@my.fit.edu
Delicia Barriere              ddelicia2020@my.fit.edu
Marcella Uyehara              mmarcella2015@my.fit.edu
Jane Curley                   jjane2013@my.fit.edu

## Task 3:

In [283]:
temperatures = [72, 32, 24, 61, 30, 42, 51, 21, 56, 32, 39, 70, 75, 54, 62, 49, 28, 54,
39, 24, 31, 64, 72, 27]

divide = len(temperatures)/4

div_arr = []
pos = 0

for i in range (4):
    new_arr = []
    
    for j in range (int(divide)):
        new_arr.append(temperatures[pos])
        pos += 1
    div_arr.append(new_arr)

for i in range (4):
    print("Quarter", i+1, div_arr[i])

Quarter 1 [72, 32, 24, 61, 30, 42]
Quarter 2 [51, 21, 56, 32, 39, 70]
Quarter 3 [75, 54, 62, 49, 28, 54]
Quarter 4 [39, 24, 31, 64, 72, 27]