In [24]:
print('single',"double")

single double

In [25]:
dash = "-" * 50

In [26]:
FName = "gabe"
LName = "silva"

In [27]:
print (dash)

--------------------------------------------------

In [28]:
print("{:^20,.3f}".format(3568888600))

 3,568,888,600.000

### F-string

In [29]:
print(f"{FName:>20} {LName:<20}")

                gabe silva

### Date

In [2]:
#!pip install dateparser
import dateparser
print(dateparser.parse('thursday'))

2022-09-15 00:00:00

In [3]:
from dateparser import parse as parse_date
parse_date("08/31/2022")

datetime.datetime(2022, 8, 31, 0, 0)

In [4]:
from datetime import datetime

In [5]:
today = datetime.now()
print(today)

2022-09-16 00:48:30.509600

In [6]:
FULL_DATE_FORMAT = "%A, %b, %d, %Y"

In [7]:
print(today.strftime(FULL_DATE_FORMAT))

Friday, Sep, 16, 2022

In [11]:
print(today.strftime("%M"))

48

## Section 2
### Lists

In [37]:
my_list = [10]
my_list[0] = 2

In [38]:
# my_list[10] out of bounds

## Loops
### for-each loop

In [39]:
names = ["cody", "gabe", 'zea', 'liam', 'andrew']
for name in names:
    print(name)

cody
gabe
zea
liam
andrew

In [40]:
dates_str_list = ['08/31/2022', "09.01.2022", "9/2/2022"]
for date_str in dates_str_list:
    print(parse_date(date_str, date_formats = ["%x", "%x", '%x']))

2022-08-31 00:00:00
2022-09-01 00:00:00
2022-09-02 00:00:00

In [63]:
dates_tuple = tuple(dates_str_list)

In [64]:
print(dates_tuple)

('08/31/2022', '09.01.2022', '9/2/2022')

In [65]:
# dates_tuple[1] = "   " not mutable

In [66]:
type(dates_tuple)

tuple

In [67]:
dates_tuple[1]

'09.01.2022'

In [68]:
for str in dates_tuple:
    print(str)

08/31/2022
09.01.2022
9/2/2022

### List Comprehension

In [70]:
# [ Expression for VARIABLE in SEQUENCE ]
from random import randint

#### Example 2

In [71]:
#rand_ints = [for num in ]

### Example 1

In [73]:
data = ['1', '2', '3', '15', '556', '11', '3,000']
data_ints = []
for i in data:
    data_ints.append(int(i.replace(',', '')))
    print(i)

1
2
3
15
556
11
3,000

In [ ]:
t